header .container {
    justify-content: space-between;

    .hero {
        background-image: url('../assets/banner.png');
        background-repeat: no-repeat;
        background-position: center;
        height: 60rem;
        display: flex;
        align-items: flex-end;
        width: 100%;

        h1{
            text-align: center;
            width: 100%;
        }
    }
}
