.home {
    margin: 0;
    margin-top: 5px;
    a {
        color: $color-02;
        font-style: Arial;
        font-size: $font-normal;
        
    }

    p {
        color: $color-02;
        font-style: Arial;
        font-size: $font-normal;
        margin-top: 5%;
        text-align: center;
    }


}